<?xml version="1.0" encoding="UTF-8"?>
<cfdi:Comprobante
    xmlns:cfdi="http://www.sat.gob.mx/cfd/3"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
{% if data['addenda_liv'] %} xmlns:detallista="http://www.sat.gob.mx/detallista"
    xsi:schemaLocation="http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd http://www.sat.gob.mx/detallista http://www.sat.gob.mx/sitio_internet/cfd/detallista/detallista.xsd" {% endif %}
    {% if not data['addenda_liv'] %} xsi:schemaLocation="http://www.sat.gob.mx/cfd/3 http://www.sat.gob.mx/sitio_internet/cfd/3/cfdv33.xsd" {% endif %}
    {% if data['Atributos']['serie'] %} Serie="{{ data['Atributos']['serie'] }}"{% endif %}
    {% if data['Atributos']['folio'] %} Folio="{{ data['Atributos']['folio'] }}"{% endif %}
    Fecha="{{ data['Atributos']['fecha'] }}"
    Sello=""
    FormaPago="{{ data['Atributos']['formaDePago'] }}"
    NoCertificado="{{ data['Atributos']['noCertificado'] }}"
    Certificado="{{ data['Atributos']['certificado'] }}"
    {% if data['Atributos']['condicionesDePago'] %} CondicionesDePago="{{ data['Atributos']['condicionesDePago'] }}" {% endif %}
    SubTotal="{{ data['Atributos']['subTotal'] }}"
    {% if data['Atributos']['descuento'] %} Descuento="{{ data['Atributos']['descuento'] }}" {% endif %}
    {% if data['Atributos']['motivoDescuento'] %} MotivoDescuento="{{ data['Atributos']['motivoDescuento'] }}" {% endif %}
    {% if data['Atributos']['TipoCambio'] %} TipoCambio="{{ data['Atributos']['TipoCambio'] }}" {% endif %}
    {% if data['Atributos']['Moneda'] %} Moneda="{{ data['Atributos']['Moneda'] }}"{% endif %}
    Total="{{ data['Atributos']['total'] }}"
    TipoDeComprobante="{{ data['Atributos']['tipoDeComprobante'] }}"
    MetodoPago="{{ data['Atributos']['metodoDePago'] }}"
    LugarExpedicion="{{ data['Atributos']['LugarExpedicion'] }}"
    {% if data['Atributos'].get('FolioFiscalOrig') %} FolioFiscalOrig="{{ data['Atributos']['FolioFiscalOrig'] }}" {% endif %}
    {% if data['Atributos'].get('SerieFolioFiscalOrig') %} SerieFolioFiscalOrig="{{ data['Atributos']['SerieFolioFiscalOrig'] }}"{% endif %}
    {% if data['Atributos'].get('FechaFolioFiscalOrig') %} FechaFolioFiscalOrig="{{ data['Atributos']['FechaFolioFiscalOrig'] }}"{% endif %}
    {% if data['Atributos'].get('MontoFolioFiscalOrig') %} MontoFolioFiscalOrig="{{ data['Atributos']['MontoFolioFiscalOrig'] }}"{% endif %}
    Version="3.3">
    {% if data.get('CfdiRelacionados') %}
        <cfdi:CfdiRelacionados TipoRelacion="{{ data['CfdiRelacionados']['tiporelacion'] }}"><cfdi:CfdiRelacionado UUID="{{ data['CfdiRelacionados']['CfdiRelacionado']['uuid'] }}"></cfdi:CfdiRelacionado></cfdi:CfdiRelacionados>
    {% endif %}
    <cfdi:Emisor
        Rfc="{{ data['Emisor'].get('rfc', '').replace('&','&amp;') }}"
        {% if data['Emisor']['nombre'] %} Nombre="{{ data['Emisor']['nombre'].replace('&','&amp;') }}" {% endif %}
        {% if data['Emisor']['regimenFiscal'] %} RegimenFiscal="{{ data['Emisor']['regimenFiscal'] }}" {% endif %}/>
    <cfdi:Receptor
        Rfc="{{ data['Receptor'].get('rfc', '') }}"
        {% if data['Receptor']['nombre'] %} Nombre="{{ data['Receptor']['nombre'] }}"{% endif %}
        UsoCFDI="{{ data['Receptor']['UsoCFDI'] }}"
        {% if data['Receptor'].get('NumRegIdTrib') %} NumRegIdTrib="{{ data['Receptor']['NumRegIdTrib'] }}"{% endif %}
        {% if data['Receptor'].get('ResidenciaFiscal') %} ResidenciaFiscal="{{ data['Receptor']['ResidenciaFiscal'] }}"{% endif %}/>
    <cfdi:Conceptos>
        {% for concepto in data['Conceptos'] %}
            <cfdi:Concepto
                Cantidad="{{ concepto['cantidad'] }}"
                Unidad="{{ concepto['unidad'] }}"
                {% if concepto['noIdentificacion'] %} NoIdentificacion="{{ concepto['noIdentificacion'] }}" {% endif %}
                {% if concepto['descripcion'] %} Descripcion="{{ concepto['descripcion'] }}" {% endif %}
                {% if concepto['descuento'] %} Descuento="{{ concepto['descuento'] }}"{% endif %}
                ValorUnitario="{{ concepto['valorUnitario'] }}"
                Importe="{{ concepto['importe'] }}"
                ClaveProdServ="{{ concepto['ClaveProdServ'] }}"
                ClaveUnidad="{{ concepto['ClaveUnidad'] }}">
                {%if concepto.get('Impuestos') %}
                <cfdi:Impuestos
                    {%if concepto['Impuestos']['Traslados'] %}>
                        <cfdi:Traslados>
                            {%for traslado in concepto['Impuestos']['Traslados'] %}
                                <cfdi:Traslado
                                    Impuesto="{{ traslado['impuesto'] }}"
                                    TipoFactor="{{ traslado['tipofactor'] }}"
                                    TasaOCuota="{{ traslado['tasaocuota'] }}"
                                    Importe="{{ traslado['importe'] }}"
                                    Base="{{ traslado['base'] }}"/>
                            {% endfor %}
                        </cfdi:Traslados>
                    {% endif %}
                    {%if concepto.get('Impuestos', {}).get('Retenciones') %}
                        <cfdi:Retenciones>
                            {%for retencion in concepto.get('Impuestos', {}).get('Retenciones') %}
                                <cfdi:Retencion
                                    Impuesto="{{ retencion['impuesto'] }}"
                                    Importe="{{ retencion['importe'] }}"
                                    TasaOCuota="{{ retencion['tasaocuota'] }}"
                                    TipoFactor="{{ retencion['tipofactor'] }}"
                                    Base="{{ retencion['base'] }}"/>
                            {% endfor %}
                        </cfdi:Retenciones>
                    {% endif %}
                </cfdi:Impuestos>
                {% endif %}
                {% if concepto.get('InformacionAduanera') %}
                    <cfdi:InformacionAduanera
                        NumeroPedimento="{{ concepto['InformacionAduanera']['numero'] }}" >
                    </cfdi:InformacionAduanera>
                {% endif %}
                {% if concepto.get('Parte') %}
                    {%for P in concepto['Parte'] %}
                        <cfdi:Parte
                            Importe="{{ P['importe'] }}"
                            ValorUnitario="{{ P['valorUnitario'] }}"
                            Descripcion="{{ P['descripcion'] }}"
                            Unidad="{{ P['unidad'] }}"
                            Cantidad="{{ P['cantidad'] }}"
                            NoIdentificacion="{{ P['noIdentificacion'] }}"
                            ClaveProdServ="{{ P['claveprodserv'] }}">
                        </cfdi:Parte>
                    {% endfor %}
                {% endif %}
            </cfdi:Concepto>
        {% endfor %}
    </cfdi:Conceptos>
    {% if data.get('Impuestos') %}
        <cfdi:Impuestos
            {% if data.get('Impuestos',{}).get('totalImpuestosTrasladados') %}
                TotalImpuestosTrasladados="{{ data['Impuestos']['totalImpuestosTrasladados'] }}"
            {% endif %}
            {% if data.get('Impuestos',{}).get('totalImpuestosRetenidos') %}
                TotalImpuestosRetenidos="{{ data['Impuestos']['totalImpuestosRetenidos'] }}"
            {% endif %}>
            {%if data.get('Impuestos',{}).get('Retenciones') %}
                <cfdi:Retenciones>
                    {%for retencion in data['Impuestos']['Retenciones'] %}
                        <cfdi:Retencion
                            Impuesto="{{ retencion['impuesto'] }}"
                            Importe="{{ retencion['importe'] }}"/>
                    {% endfor %}
                </cfdi:Retenciones>
            {% endif %}
            {%if data.get('Impuestos',{}).get('Traslados') %}
                <cfdi:Traslados>
                    {%for traslado in data['Impuestos']['Traslados'] %}
                        <cfdi:Traslado
                            Impuesto="{{ traslado['impuesto'] }}"
                            TipoFactor="{{ traslado['tipofactor'] }}"
                            TasaOCuota="{{ traslado['tasaocuota'] }}"
                            Importe="{{ traslado['importe'] }}"/>
                    {% endfor %}
                </cfdi:Traslados>
            {% endif %}
        </cfdi:Impuestos>
    {% endif %}
{% if data['addenda_liv'] %}<cfdi:Complemento>
<detallista:detallista type="SimpleInvoiceType" documentStructureVersion="AMC8.1" documentStatus="ORIGINAL" contentVersion="1.3.1">
<detallista:requestForPaymentIdentification>
<detallista:entityType>INVOICE</detallista:entityType>
</detallista:requestForPaymentIdentification>
<detallista:specialInstruction code="ZZZ">
<detallista:text>"{{ data['amount_to_text'] }}"</detallista:text>
</detallista:specialInstruction>
<detallista:orderIdentification>
<detallista:referenceIdentification type="ON">{{ data['orderIdentification'] }}</detallista:referenceIdentification>
<detallista:ReferenceDate>{{ data['date_ref'] }}</detallista:ReferenceDate>
</detallista:orderIdentification>
<detallista:AdditionalInformation>
<detallista:referenceIdentification type="ACE">1</detallista:referenceIdentification>
</detallista:AdditionalInformation>
<detallista:DeliveryNote>
<detallista:referenceIdentification>{{ data['delivery_ref'] }}</detallista:referenceIdentification>
</detallista:DeliveryNote>
<detallista:buyer>
<detallista:gln>{{ data['GLN'] }}</detallista:gln>
<detallista:contactInformation>
<detallista:personOrDepartmentName>
<detallista:text>{{ data['liverpool_dep'] }}</detallista:text>
</detallista:personOrDepartmentName>
</detallista:contactInformation>
</detallista:buyer>{% if data['GLN_seller'] %}
<detallista:seller>
<detallista:gln>{{ data['GLN_seller'] }}</detallista:gln>
<detallista:alternatePartyIdentification type="SELLER_ASSIGNED_IDENTIFIER_FOR_A_PARTY">134853</detallista:alternatePartyIdentification>
</detallista:seller>{% endif %}
<detallista:allowanceCharge allowanceChargeType="ALLOWANCE_GLOBAL" settlementType="OFF_INVOICE">
<detallista:specialServicesType>AJ</detallista:specialServicesType>
<detallista:monetaryAmountOrPercentage>
<detallista:rate base="INVOICE_VALUE">
<detallista:percentage>0.00</detallista:percentage>
</detallista:rate>
</detallista:monetaryAmountOrPercentage>
</detallista:allowanceCharge>{% for item in data['items'] %}
<detallista:lineItem type="SimpleInvoiceLineItemType" number=" {{ item['num'] }}">
<detallista:tradeItemIdentification>
<detallista:gtin>{{ item['gtin'] }}</detallista:gtin>
</detallista:tradeItemIdentification>
<detallista:alternateTradeItemIdentification type="BUYER_ASSIGNED">{{ item['gtin'] }}</detallista:alternateTradeItemIdentification>
<detallista:tradeItemDescriptionInformation language="ES">
<detallista:longText>{{ item['descripcion'] }}</detallista:longText>
</detallista:tradeItemDescriptionInformation>
<detallista:invoicedQuantity unitOfMeasure="{{ item['ClaveUnidad'] }}">{{ item['cantidad'] }}</detallista:invoicedQuantity>
<detallista:grossPrice>
<detallista:Amount>{{ item['valorUnitario'] }}</detallista:Amount>
</detallista:grossPrice>
<detallista:netPrice>
<detallista:Amount>{{ item['valorUnitario'] }}</detallista:Amount>
</detallista:netPrice>
<detallista:totalLineAmount>
<detallista:grossAmount>
<detallista:Amount>{{ item['importe'] }}</detallista:Amount>
</detallista:grossAmount>
<detallista:netAmount>
<detallista:Amount>{{ item['importe'] }}</detallista:Amount>
</detallista:netAmount>
</detallista:totalLineAmount>
</detallista:lineItem>{% endfor %}
<detallista:totalAmount>
<detallista:Amount>{{ data['Atributos']['total'] }}</detallista:Amount>
</detallista:totalAmount>
<detallista:TotalAllowanceCharge allowanceOrChargeType="ALLOWANCE">
<detallista:specialServicesType>AA</detallista:specialServicesType>
<detallista:Amount>0.00</detallista:Amount>
</detallista:TotalAllowanceCharge>
</detallista:detallista>
</cfdi:Complemento>{% endif %}
</cfdi:Comprobante>
